### Function

In [7]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

In [2]:
def add():
    a=10
    b=20
print(5)
add()

5

In [8]:
def sub():
    a=30
    b=20
    print(a-b)
sub()

10

In [9]:
def multi():
    a=20
    b=10
    print(a*b)
multi()

200

In [11]:
def add(a,b,c):
    a=10
    b=20
    c=30
    print(a+b+c)
add(10,20,30)

60

In [12]:
def add(child_2,child_3,child_1):
    print("The youngest child is",child_3)
add(child_1="A",child_2="B",child_3="C")

The youngest child is C

### odd or even

In [1]:
def odd_or_even(i):
    if(i%2==0):
        print("even")
    else:
        print("odd")
odd_or_even(10)

even

In [2]:
def odd_or_even(i):
    if(i%2==0):
        print("even")
    else:
        print("odd")
odd_or_even(int(input("Enter your number:")))

Enter your number: 5

odd

### over writing

In [4]:
def show_country(city,country="India"):
    print(f"{city} is in {country}")
show_country("Chennai")

Chennai is in India

In [1]:
def show_country(city,country="India"):
    print(f"{city} is in {country}")
show_country("Chennai")
show_country("Paris","France")

Chennai is in India
Paris is in France

In [2]:
def show_country(city,country="India"):
    print(f"{city} is in {country}")
show_country("Chennai")
coun="France"
show_country("Paris",coun)

Chennai is in India
Paris is in France

In [3]:
def show_country(city,country="India"):
    print(f"{city} is in {country}")
show_country("Chennai","City")
coun="France"
show_country("Paris",coun)

Chennai is in City
Paris is in France

### arguments-argv

In [4]:
def my_func(*argv):     # *all value to store the output
    for i in argv:
        print(i)
my_func("Hi","my","name","Trishu","Chennai","City")

Hi
my
name
Trishu
Chennai
City

In [5]:
def my_func(*argv):     
    for i in argv:
        print(i)
    print("My name is",argv[3])
my_func("Hi","my","name","Trishu","Chennai","City")

Hi
my
name
Trishu
Chennai
City
My name is Trishu

In [6]:
def my_func(*kids):
    for i in kids:
        print(i)
my_func("Hi","my","name","Trishu","Chennai","City")

Hi
my
name
Trishu
Chennai
City

In [7]:
def my_country(country="India"):
    print("I am from",country)
my_country("Germany")
my_country("France")
my_country()
my_country("England")
my_country()

I am from Germany
I am from France
I am from India
I am from England
I am from India

### Nested Function

In [1]:
def f1():
    def f2():
        def f3():
            print("Hi,f3")
        print("Hi,f2")
        f3()
    print("Hi,f1")
    f2()
print("The loop starts here:")
f1()

The loop starts here:
Hi,f1
Hi,f2
Hi,f3

In [3]:
def f1(a):    
    print(a)                    # first f1 and f2
    a="I am a data analyst"
    print(a)
    def f2():
        a="I am a data scientist"
        print(a)
    f2()
a="data engineer"
f1(a)
print("the find a value:",a)

data engineer
I am a data analyst
I am a data scientist
the find a value: data engineer

In [4]:
def f1():
    s="I am a data scientist"
    print(s)
    def f2():
        s="I am a data analyst"
        print(s)
    f2()
f1()

I am a data scientist
I am a data analyst