### Nested if

### Checking whether the year is leap year on not

In [4]:
year=int(input("Enter the year:"))
if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print(f"{year} is divisible by 4, 100, 400")
        else:
            print(f"{year} is non leap year because it is divisible by 4 and 100 but not by 400")
    else:
        print(f"{year} is leap year because divisible by 4")
else:
    print(f"{year} is a non leap year")

Enter the year: 2024

2024 is leap year because divisible by 4

## ATM basic flow program

In [1]:
print("Welcome to the SBI ATM")
check=input("Select the following statements (Withdraw (Press W), Balance enquiry(Press B), Statement check(Press S))").upper()
if check=='W':
    print("You have selected Withdraw option")
    check_1=input("Please Select your account type (Current (Press C) Savings(Press S)):").upper()
    if check_1=='S':
        pin=5555
        amount=6000
        print("You have selected Savings account")
        Amount=int(input("Enter your withdraw amount:"))
        Pin=int(input("Enter your 4-digit pin number:"))
        if pin==Pin:
            print("Your PIN number is Valid")
            if Amount > amount:
                print(f"Insuffient balance your have {amount}")
            else: 
                print(f"You have successfully withdrawn your amount The Balance amount in your account is:{amount - Amount}")
        else:
            print(f"{Pin} your pin number is invalid")

Welcome to the SBI ATM

Select the following statements (Withdraw (Press W), Balance enquiry(Press B), Statement check(Press S)) w

You have selected Withdraw option

Please Select your account type (Current (Press C) Savings(Press S)): s

You have selected Savings account

Enter your withdraw amount: 2500
Enter your 4-digit pin number: 5555

Your PIN number is Valid
You have successfully withdrawn your amount The Balance amount in your account is:3500

In [22]:
print("Welcome to the SBI ATM")
check=input("Select the following statements (Withdraw (Press W), Balance enquiry(Press B), Statement check(Press S))").upper()
if check=='W':
    print("You have selected Withdraw option")
    check_1=input("Please Select your account type (Current (Press C) Savings(Press S)):").upper()
    if check_1=='C':
        print("You have selected Current account:")
        check_2=input("You are taking loan (Yes/No):")
        if check_2=='Yes':
            Age=int(input("Enter your age:"))
            Salary=int(input("Enter your salary:"))
            age=25
            salary=65000
            if Age>=age:
                print("You are eligible to take the loan")
                if Salary>=salary:
                    print("You are eligible to take the loan")
                else:
                    print("You are not eligible")
            else:
                print("You'r age is not eligible to take the loan")
        else:
            print("Thank you")

Welcome to the SBI ATM

Select the following statements (Withdraw (Press W), Balance enquiry(Press B), Statement check(Press S)) w

You have selected Withdraw option

Please Select your account type (Current (Press C) Savings(Press S)): c

You have selected Current account:

You are taking loan (Yes/No): Yes
Enter your age: 25
Enter your salary: 65000

You are eligible to take the loan
You are eligible to take the loan

### To find whether the number is odd or even

In [1]:
for i in range(1,21):
    if(i%2==0):
        print(f"{i} is even number")
    else:
        print(f"{i} is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number

### Odd or even

In [2]:
odd=0
even=0
odd_1=[]
even_1=[]
for i in range(1,21):
    if(i%2==0):
        even=even+1
        even_1.append(i)
    else:
        odd=odd+1
        odd_1.append(i)
print(f"{even} total even number is the range b1 to 21")
print(f"{odd} total odd number is the range b1 to 21")
print(odd_1)
print(even_1)

10 total even number is the range b1 to 21
10 total odd number is the range b1 to 21
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
odd=0
even=[]
for i in range(1,101):
    if(i%3==0 and i%5==0):
        odd=odd+1
        even.append(i)
print(f"odd total number")
print(even)

odd total number
[15, 30, 45, 60, 75, 90]

In [4]:
a=[10]
b=a
a.append(20)
print(b)

[10, 20]

### Nested for loop

In [5]:
for i in range(1,11):
    for j in range(1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5
6 1
6 2
6 3
6 4
6 5
7 1
7 2
7 3
7 4
7 5
8 1
8 2
8 3
8 4
8 5
9 1
9 2
9 3
9 4
9 5
10 1
10 2
10 3
10 4
10 5

In [6]:
for i in range(1,11):
    for j in range(1,6):
        for k in range(1,4):
            print(i,j,k)

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
1 4 1
1 4 2
1 4 3
1 5 1
1 5 2
1 5 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
2 4 1
2 4 2
2 4 3
2 5 1
2 5 2
2 5 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3
3 4 1
3 4 2
3 4 3
3 5 1
3 5 2
3 5 3
4 1 1
4 1 2
4 1 3
4 2 1
4 2 2
4 2 3
4 3 1
4 3 2
4 3 3
4 4 1
4 4 2
4 4 3
4 5 1
4 5 2
4 5 3
5 1 1
5 1 2
5 1 3
5 2 1
5 2 2
5 2 3
5 3 1
5 3 2
5 3 3
5 4 1
5 4 2
5 4 3
5 5 1
5 5 2
5 5 3
6 1 1
6 1 2
6 1 3
6 2 1
6 2 2
6 2 3
6 3 1
6 3 2
6 3 3
6 4 1
6 4 2
6 4 3
6 5 1
6 5 2
6 5 3
7 1 1
7 1 2
7 1 3
7 2 1
7 2 2
7 2 3
7 3 1
7 3 2
7 3 3
7 4 1
7 4 2
7 4 3
7 5 1
7 5 2
7 5 3
8 1 1
8 1 2
8 1 3
8 2 1
8 2 2
8 2 3
8 3 1
8 3 2
8 3 3
8 4 1
8 4 2
8 4 3
8 5 1
8 5 2
8 5 3
9 1 1
9 1 2
9 1 3
9 2 1
9 2 2
9 2 3
9 3 1
9 3 2
9 3 3
9 4 1
9 4 2
9 4 3
9 5 1
9 5 2
9 5 3
10 1 1
10 1 2
10 1 3
10 2 1
10 2 2
10 2 3
10 3 1
10 3 2
10 3 3
10 4 1
10 4 2
10 4 3
10 5 1
10 5 2
10 5 3

In [8]:
name="Nexila"
for i in name:
    print(i)

N
e
x
i
l
a

In [9]:
name="Nexila"
for i in "Nexila":
    print(i)

N
e
x
i
l
a

In [11]:
name=["Nexila","Tech","Chennai"]
for i in name:
    print(i)

Nexila
Tech
Chennai

In [13]:
name=["Nexila","Tech","Chennai"]
for i in name:
    for j in i:
        print(j)

N
e
x
i
l
a
T
e
c
h
C
h
e
n
n
a
i