### While loop

In [3]:
n=1
while(n<=5):
    n=n+1
    print(n)

2
3
4
5
6

In [4]:
for i in range(1,11):
    if(i==8):
        break
    else:
        print(i)

1
2
3
4
5
6
7

In [8]:
for i in range(1,11):
    if(i==8):
        #break
        continue
    else:
        print(i)

1
2
3
4
5
6
7
9
10

In [10]:
x=1
if(x<=5):
    print(x)
    x=x+1
else:
    print("Loop Finished")

1

In [11]:
x=1
while(x<=5):
    print(x)
    x=x+1
else:
    print("Loop Finished")

1
2
3
4
5
Loop Finished

In [ ]:
while True:
    n=input("Enter your name:")
    for j in n:
        if(j=='h'):
            print("The letter is h so i break the loop")
            break
        else:
            print(j)

Enter your name: Trishula

T
r
i
s
The letter is h so i break the loop

### For loop

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[5])
print(a[8])
print(type(a))

6
9
<class 'list'>

### list []
### tuple ()
### set {}
### dictionary {}

In [10]:
my_list=[1,2,3,4,5,6,7,8,9,10]
largest=my_list[0]
for num in my_list:
    if num>largest:
        largest=num
print(largest)

10

In [9]:
a=[1,2,3,4,5]
b=["Trishula",True,1.2,5]
print(b[0][3])

s

In [26]:
a={"Name":"Nexila"}
print(a["Name"])
print(type(a))

Nexila
<class 'dict'>

In [29]:
details={"Name":"Trishu","Age":21,"DOB":"05-05-2004","Dept":"M.Com"}
print(details["DOB"])

05-05-2004